<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Imoveis</title>

    <%- include("../partials/cabecalho.ejs")%>
    <%-include("../partials/menu.ejs")%>

    <link rel="stylesheet" href="/css/wal.css">
</head>
<body class="wal">
    <div class="container">
    <% if (status == 1) { %>
        <div style="background-color: aqua;">Imóvel cadastrado com sucesso!!!</div>
        
    <%} %>
    <% if (status == 2) { %>
        <div style="background-color: rgb(255, 0, 21);">Imóvel removido com sucesso!!!</div>
        
    <%} %>
    <% if (status == 3) { %>
        <div style="background-color: rgb(43, 255, 0);">Imóvel atualizado com sucesso!!!</div>
        
    <%} %>
    <br>
    <h3>Imóveis </h3>
    <div>
        <!-- <div>Corretor cadastrado com sucesso!!!! </div> -->
        
        <table class="table table-striped">
            <th>ID</th>
            <th>Localização</th>
            <th>Proprietário</th>
            <th>Valor</th>
            <th>Imagem do Imóvel</th>
            <th>Detalhes</th>
            <th>Remoção</th>
            <th>Atualizar</th>
        
    <% for (const imovel of imoveis){ %>
        <tr>
            
        <td> 
            <%= imovel.id %> 
        </td>
        <td>
            <%= imovel.localizaçao %>
        </td>
        <td> 
            <%= imovel.proprietario %> 
        </td>
        <td>
            <%= imovel.valor %>
        </td>
        <td>
            <%= imovel.imagem %>
        </td>
        <td>    
            <a href="/imoveis/<%= imovel.id %>" class="btn btn-warning">Detalhes</a>
         </td>

        <td>
            
            <a href="/imoveis/deletar/<%= imovel.id %>" class="btn btn-outline-danger"
                onclick="return confirm('Deseja realmente remover?')">Remova este imóvel<i class="bi bi-trash3-fill"></i>
            </a></i>
        </td>

        <td>    
            <a href="/imoveis/atualizar/<%= imovel.id %>" class="btn btn-success">Atualizar  <i class="bi bi-bookmark-heart-fill"></i></a>
         </td>
        
    <br>

        </tr>
    <%} %>
    </table>
    
    <a href="/">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Índice</button>
    </a>
        </div>
    
    </body>

<%- include("../partials/rodape.ejs")%>
</html>
